///////////////////////////////////
///////// COLORS
$color-primary: #2d314d;
$color-secondary: #31d35c;
$color-tertiary: #2bb7da;
$color-hover: #31d3a2;

$color-white: #ffffff;
$color-black: #161616;
$color-gray-dark: #9698a6;
$color-gray: #f3f4f6;
$color-gray-light: #fafafa;
