.features {
    background-color: $color-gray;
    z-index: 5;

    .wrapper {
        padding: 9rem 0;

        @media only screen and (max-width: 73.125em) {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            
        }
        @media only screen and (max-width: 50em) {
            text-align: center;
            padding: 5rem 0;
        }
        
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 7rem;

        @media only screen and (max-width: 73.125em) {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 5rem;
            text-align: center;
        }

        @media only screen and (max-width: 50em) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .heading-3 {
        margin: 2.3rem 0;
        @media only screen and (max-width: 62.5em) {
            margin: 1.5rem 0;
        }
    }

    .feature {
        &:not(:last-child) {
            margin-right: 2rem;
        }

        @media only screen and (max-width: 73.125em) {
            width: 36rem;
            padding: 0 3rem;
            &:not(:last-child) {
                margin-right: 0;
            }
            
        }
    }
}