.header {
    background-color: $color-gray-light;
    background-image: url(/../img/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: 240% 60%;
    background-size: 82%;
    overflow: hidden;

    .wrapper {
        padding: 15rem 0;
        display: flex;
  
    }

    &__text-box {
        flex: 0 0 40%;
        & > * {
            margin-bottom: 2.5rem;
        }
    }
}