.header {
    background-color: $color-gray-light;
    background-image: url(../img/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: 240% 60%;
    background-size: 82%;
    overflow-x: hidden;
    position: relative;

    @media only screen and (max-width: 62.5em) {
        background-position: 262% 28%;
    }
    @media only screen and (max-width: 50em) {
        background-image: none;
        &::before {
            content: url(../img/bg-intro-mobile.svg);
            display: block;
            position: absolute;
            width: 100vw;
        }
    }

    .wrapper {
        padding: 15rem 0;
        display: flex;

        @media only screen and (max-width: 62.5em) {
            padding: 10rem 0;
        }
        @media only screen and (max-width: 50em) {
            align-items: flex-end;
            height: 85rem;
            padding: 0;
        }
    }

    &__text-box {
        flex: 0 1 40%;

        @media only screen and (max-width: 62.5em) {
            flex: 0 0 50%;
        }
        @media only screen and (max-width: 50em) {
            flex: 0 1 100%;
            text-align: center;
            padding: 10%;
        }

        & > * {
            margin-bottom: 2.5rem;
        }
    }
}
