.nav {
    background-color: $color-white;
    
    display: block;
    z-index: 999;

    .show-mobile-nav {
        display: block;
    }

    .btn-cta {
        @media only screen and (max-width: 50em) {
            display: none;
        }
    }

    .hamburger {
        &-label {
            display: none;
            @media only screen and (max-width: 50em) {
                display: inline-block;
            }
        }
        &-input {
            display: none;
        }
    }
    .wrapper {
        padding: 1.8rem 0;
        background-color: $color-white;

        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    &__list {
        list-style: none;
        display: flex;
        
        @media only screen and (max-width: 50em) {
            display: none;
            position: absolute;
            flex-direction: column;
            background-color: $color-white;
            width: 90%;
            top: 8rem;
            left: 50%;
            transform: translateX(-50%);
            padding: 2rem;
            border-radius: 5px;
            text-align: center;
            font-size: 1.8rem;
        }
    }

    &__item {
        @media only screen and (max-width: 50em) {
            padding: 1rem 0;
        }
        &:not(:last-child){
            margin-right: 3rem;
            @media only screen and (max-width: 50em) {
                    margin-right: 0;
            }
        }
    }

    &__link {
        text-decoration: none;
        transition: all 0.3s ease-out;
        position: relative;
        transition: all 0.4s;


        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: -3rem;
            right: auto;
            left: auto;
            height: 5px;
            width: 100%;
            background-image: linear-gradient(to right, $color-secondary, $color-tertiary);
            border-radius: 2px;
            opacity: 0;
            transition: all 0.4s;
            @media only screen and (max-width: 50em) {
                content: none;
                display: none;
            }
        }

        &:link,
        &:visited {
            color: $color-gray-dark;
            @media only screen and (max-width: 50em) {
                color: $color-primary;
            }
        }
        &:hover,
        &:active {
            color: $color-black;
            &::after {
                opacity: 1;
            }
        }
    }
}