.btn-cta {
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(to right, $color-secondary, $color-tertiary);
    color: $color-white;
    font-size: 1.4rem;
    padding: 1rem 3rem;
    display: inline-block;
    transition: all 0.3s ease-out;

    &:link,
    &:active {
        text-decoration: none;
    }

    &:hover,
    &:visited {
        opacity: 0.7;
    }

}