.btn-cta {
    border: none;
    border-radius: 30px;
    background-color: $color-white;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 1rem 3rem;
    display: inline-block;
    transition: all 0.3s ease-out;
    position: relative;
    z-index: 1;

    &::before {
        content: 'Request invite';
        display: block;
        position: absolute;
        background-image: linear-gradient(to right, $color-secondary, $color-tertiary);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 1rem 3rem;
        border-radius: 30px;
        z-index: 5;
        transition: all 0.3s ease-out;
    }

    &:link,
    &:visited {
        color: $color-white;
    }

    &:hover,
    &:active {
        transition: all 0.3s ease-out;
        color: $color-white !important;
        &::before {
            opacity: 0.6;
        };
    }

}